/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(2, 23, 37, 0.7);
  background-color: gold; }

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden; }

a {
  color: white;
  text-decoration: none; }

#main {
  background-color: tomato; }

body.home {
  background-color: green; }

body.studio {
  background-color: aliceblue; }

body.work {
  background-color: gold; }
